<footer class="page-footer  grey darken-3">
            
              <div class="row valign-wrapper footer-ul">
                <div class="container">

                    <div class="col l3 s12">
                        <h5 class="white-text">Contacto</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!"><i
                            class="fas fa-phone"></i> +58 0414-2334687</a></li>
                          <li><a class="grey-text text-lighten-3" href="#!"><i
                          class="fab fa-instagram"></i> Expeculación </a></li>
                          <li><a class="grey-text text-lighten-3" href="#!"><i
                          class="fab fa-twitter"></i> Expeculación </a></li>
                          <li><a class="grey-text text-lighten-3" href="#!"><i
                          class="far fa-envelope"></i> contacto@Expeculación .com</a></li>
                        </ul>
                      </div>
                
                <div class="col l3 s12">
                  <h5 class="white-text">Productos</h5>
                 <ul>
                    <li><a class="grey-text text-lighten-3" href="/search">Buscar productos</a></li>
                 </ul>
                </div>

                <div class="col l3 s12">
                  <h5 class="white-text">Mercados</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="/markets">Ver mercados</a></li>
                    <li><a class="grey-text text-lighten-3" href="/markets/add">Crear mercado</a></li>
                    
                  </ul>
                </div>

                  <div class="col l3 s12">
                      <h5 class="white-text">Acceso clientes</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="/users/register">Registrarse</a></li>
                        <li><a class="grey-text text-lighten-3"
                        href="/users/login">Iniciar Sesión</a></li>
                      </ul>
                  </div>

                  
                </div>
              </div>
            
            <div class="footer-copyright" id="footer-copyright">
              <div class="container center">
             Expeculación S.L.© 2019/Todos los Derechos Reservados
             
              </div>
            </div>
          </footer>