
<div class="container section">
  {{> _messages}}   
    <div class="row">
        
        
        <div class="input-field col s12 m6 offset-m3">
            
            <form>
                
            
                <i class="fas fa-apple-alt prefix"></i>
                <input  id="search" type="text" class="validate">
                <label for="search">Busca un producto!</label>
                <button type="submit">Buscar</button>
                
            </form>
            
                        
        </div>
    </div>

    <div class="row searchResults"></div>
</div>

<div class="fixed-action-btn">
            <a href="/search/checkout" class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-shopping-cart"></i></a>
</div>




<script src="/js/search.js"></script>