<div class="container">
    <div class="row">
        
        <div class="input-field col s12 m6 offset-m3">
            <form>
                
            
                <i class="fas fa-apple-alt prefix"></i>
                <input  id="search" type="text" class="validate">
                <label for="search">Search For product</label>
                <button type="submit">Search</button>
            </form>
            
                        
        </div>
    </div>

    <div class="row searchResults"></div>
</div>


<script src="/js/search.js"></script>