{{> _navbar}}
<div class="container">
    <div class="row section">
        <h4>Cómo hacer una comparación de precios</h4>
        <ul>
            <li> 1. Primero regístrate <a href="/users/register">aquí</a> para poder generar tu tabla comparativa.   </li>
            
            <li> 2. Inicia sesión <a href="/users/login">aquí</a>.  </li>

            <li>3. Ve a <a href="/search">search</a> y busca el producto que quieras</li>

            <li>4. Agregalo a tu carrito y repite el proceso hasta que termines tus compras</li>
            
            <li>5. Dale a el boton de checkout y listo!</li>
        </ul>
    </div>

     <div class="row">
        <h4>Cómo crear tu comercio</h4>
        <ul>
            <li> 1. Primero regístrate <a href="/users/register">aquí</a> para poder crear tu comercio.   </li>
            
            <li> 2. Inicia sesión <a href="/users/login">aquí</a>.  </li>

            <li>3. Ve a <a href="/markets">Mercados</a> y dale click al boton verde en la esquina inferior derecha</li>

            <li>4. Llena el formulario con los datos de tu comercio</li>
            
            <li>5. Dale a el boton de checkout y listo!</li>
        </ul>
        <p>Listo ya tienes tu comercio creado pero aún no tienes inventario ahora nos toca agregar el inventario a el comercio</p>
    </div>

     <div class="row">
        <h4>Cómo añadir el inventario</h4>
        <ul>
            <li> 1. Una vez creado tu comercio ve a <a href="/markets">Mercados</a>  </li>
            
            <li> 2. Entra a el mercado que creaste (tendrá un boton azul en la esquina superior izquierda)  </li>

            <li>3. Dale click al boton verde en la esquina inferior derecha</li>

            <li>4. Verás dos formularios uno para agregar un producto individual y el otro para subir una hoja de excel con varios productos</li>
            
            <li>6. Si deseas agregar un solo producto llena el primer formulario con los datos del producto </li>
            
            <li>7. Si quieres subir varios productos a la vez crea una hoja de excel con el siguiente formato</li>
            
            <li>8. Llena la hoja de excel con los datos de los productos que deseas subir</li>
            
            <li>9. Dale click a el boton de choose file, elige tu hoja de excel y dale click a subir!</li>
        </ul>
        <p>Listo! Ya las personas podran ver tu comercio en línea y comparar tus precios directos con los otros comercios</p>
    </div>
</div>