.tasa-dolar {
    font-weight: bold;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

#priceBs::-webkit-outer-spin-button,
#priceBs::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#priceBs[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.hero {
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.test {
    height: 128px;
}

.breadcrumb a {
    
    text-decoration: underline;
}