

<div class="container">
    <h3  class="center-align">Edit Market</h3>
<div class="row">
    <form action="/markets/{{market._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field col s12 m6">
                <input type="text" name="name" id="name" value="{{market.name}}">
                <label for="name">Nombre del Comercio</label>
            </div>
 
            <div class="input-field col s12 m6">
                <input type="text" name="brand" id="brand" value="{{market.brand}}">
                <label for="brand">Marca del Comercio</label>
            </div>
        </div>
    
    <div class="row">
        <div class="input-field col s12 m6">
                <input type="text" name="location" id="location" value="{{market.location}}">
                <label for="location">Ubicación del Comercio</label>
            </div>
        <div class="col s12 m6">
             <input type="submit" value="Guardar" class="btn">
        <a href="/markets" class="btn orange">Cancelar</a>
        </div>
       
    </div>
    </form>
</div>
</div>
