


<div class="container">
    <h1>Add a product</h1>
{{> _messages}}
<form action="/markets/{{market._id}}/products" method="POST">
    <div class="row">
            <div class="input-field">
                <input type="text" name="name" id="name" required>
                <label for="name">Product Name</label>
            </div>

            <div class="input-field">
                <input type="number" name="priceBs" id="priceBs" required>
                <label for="priceBs">Product PriceBs</label>
            </div>

            <div class="input-field">
                <input type="text" name="mainCategory" id="category" required>
                <label for="category">Main Category</label>
            </div>

            <div class="input-field">
                <input type="text" name="subCategory" id="category" required>
                <label for="category">Sub Category</label>
            </div>

            <div class="input-field">
                <input type="text" name="itemCategory" id="category" required>
                <label for="category">Item Category</label>
            </div>
    </div>
    <div class="row">
        <input type="submit" value="Guardar Comercio" class="btn">
        <a href="/markets/{{market._id}}" class="btn orange">Cancel</a>
        
    </div>
    
</form>
<h3>Upload Excel file</h3>
<form action="/markets/{{market._id}}/products/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="excel"/>
  <input type="submit" value="Upload" class="btn">
</form>
</div>